@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		font-family: 'IBM Plex Sans';
        margin: 0;
        background-color: rgb(30, 30, 30);
        color: white;
	}

    input[type="file"]::-webkit-file-upload-button {
        display: none;
    } */

    input[type="file"]::file-selector-button {
        display: none; 
    }
}

@theme {
    --color-*: initial;
    --color-grey: #787878;
    --color-light_grey: #b8b8b8;
    --color-dark_grey: #2e2e2e;
    --color-background: #1e1e1e;
    --color-ijo: #13cc57;
    --color-light_ijo: #dcfce7;
    --color-light_red: #fee2e2;

    --breakpoint-*: initial;
    --breakpoint-phone: 20rem;
    --breakpoint-laptop: 64rem;
    --breakpoint-desktop: 80rem;
}